# Created by venv; see https://docs.python.org/3/library/venv.html
*.pyc
__pycache__/

# Virtual environment
venv/
env/
.env

# Django
*.log

# VSCode
.vscode/

# OS
.DS_Store

# Миграции (по желанию)
**/migrations/*.py
!**/migrations/__init__.py