{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог</title>
    <link rel="stylesheet" href="{% static 'style/catalog.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="navbar">
                <div class="left-nav">
                    <a class="nav-link--text-white" href='{% url "main:index" %}'>Главная страница</a>
                    <a class="nav-link--text-white" href='#'>О нас</a>
                </div>
                
               
                <form class="search-form" role="search" action="" method="get">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success text-white" type="submit">Поиск</button>
                </form>
                
                <div class="right-nav">
                    {% if user.is_authenticated %}
                        <a class="nav-link--text-white" href='{% url "ads:create_ad" %}'>Создать объявление</a>
                        <a class="nav-link--text-white" href='{% url "user:profile" %}'>Профиль</a>
                        <a class="nav-link--text-white" href='{% url "user:logout" %}'>Выйти</a>
                    {% else %}
                        <a class="nav-link--text-white" href='{% url "user:register" %}'>Регистрация</a>
                        <a class="nav-link--text-white" href='{% url "user:login" %}'>Войти</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <form class="catalog" method="get" enctype="multipart/form-data" >
        {% for ad in ads %}
            <div class="product" data-url="{% url 'ads:ad_detail' ad.id %}">
                {% if ad.image %}
                    <img src="{{ ad.image.url }}">
                {% else %}
                    <p>Изображение не загружено</p>
                {% endif %}
                <h1><a>{{ ad.title }}</a></h1>
            
                <p>Категория: {{ ad.category }}</p>
            
                {% if ad.condition == "used" %}
                    <p>Состояние: Б/у</p>
                {% else %}
                    <p>Состояние: Новое</p>
                {% endif %}
                <p>Дата добавления: {{ ad.created_at }}</p>
            </div>
        {% empty %}
            <p>Товары не найдены.</p>
        {% endfor %}
    </form>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.product').forEach(card => {
            card.addEventListener('click', (e) => {

                if (e.target.closest('a')) return;
                const url = card.dataset.url;
                if (url) {
                    window.location.href = url;
                }
            });
        });
    });
</script>